<div class="ptt-2">
    <div class="chk1 text-center" *ngIf="verified">
        <i class="bi bi-check2-circle"></i>
        <P *ngIf="!expired">Credential Verified</P>
        <P *ngIf="expired">Credential Expired</P>
        <div>
            <button type="button" class="btn btn-secondary" (click)="scanAgain()">Verify Another certificate</button>
        </div>
    </div>
    <div class="chk1 text-center" *ngIf="notVerified">
        <i class="bi bi-x-circle text-danger"></i>
        <P>Credential not Verified</P>
        <div>
            <button type="button" class="btn btn-secondary" (click)="scanAgain()">Verify Another certificate</button>
        </div>
    </div>
</div>

<!-- <img src="assets/images/camera.png" alt="" class="img-center" *ngIf="scanQrCode"> -->
<div class="h-100 d-flex align-items-center justify-content-center flex-column" *ngIf="scanQrCode">
    <img src="assets/images/scan.png">
    <div>
        <button type="button" class="btn btn-secondary" (click)="scan()"><i _ngcontent-ldf-c50="" aria-hidden="true"
                class="fa fa-qrcode vc-whiteColor vc-faIcon" style="padding-right: 10px"></i>Scan QR Code</button>
    </div>

    <div class="alert alert-success" role="alert">
        <!-- <h4 class="alert-heading">Scan QR-Code</h4> -->
        <p>To verify certificate, simply scan the QR code thats on the document.</p>
    </div>
</div>

<!-- <img src="assets/images/camera.png" *ngIf="!isScanCompleted" alt="" class="img-center"> -->
<h4 class="text-align" *ngIf="!isScanCompleted">SCAN QR CODE</h4>

<div class="scanner" *ngIf="!isScanCompleted">
    <quar-scanner (scanSuccess)="scanSuccessHandler($event)" (scanError)="onError($event)"></quar-scanner>
    <button type="button" class="btn btn-secondary" (click)="back()" style="margin-left: 33%;
    margin-top: 10%;">Back</button>
</div>
<div class="text-center mt-5" *ngIf="false">
    <img src="assets/images/flash.png" alt="" class="pr-4">
    <img src="assets/images/frontcamera.png" alt="">
</div>
<div class="scan-result" *ngIf="loader">
    <div class="d-flex justify-content-center">
        <div class="spinner-border">
            <span class="sr-only">LOADING</span>
        </div>
    </div>
</div>

<div class="h-100 d-flex align-items-center justify-content-center flex-column" *ngIf="invalidQRCode">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Invalid QR-Code</h4>
        <p>Please scan valid QR Code</p>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="scanAgain()">RETRY SCAN</button>
    </div>
</div>

<app-doc-view [credential]="credential" *ngIf="credential"></app-doc-view>
