<!-- <div class="text-center mt-4 px-4">
    <img class="img-fluid" src="assets/images/headerlogo1.png" alt="">
</div> -->

<div class="container text-center">

    <div class="ptt-2">
        <div class="chk1 text-center" *ngIf="verified">
            <img *ngIf="!expired" src="assets/icons/verify.svg" alt="verify">
            <p *ngIf="!expired" class="verify pt-1">Credential Verified</p>
            <img *ngIf="expired" src="assets/icons/cross.svg" alt="cross">
            <p *ngIf="expired" class=" verify pt-1">Credential Expired</p>
            <app-doc-view [credential]="credential" *ngIf="credential"></app-doc-view>
            <button *ngIf="isScanCompleted" type="button" class="btn-scan mt-5 mb-3" (click)="scanAgain()">Scan
                Next</button>
        </div>
        <div class="chk1 text-center" *ngIf="notVerified">
            <img src="assets/icons/cross.svg" alt="cross">
            <P class="verify pt-1">Credential not Verified</P>
            <button *ngIf="isScanCompleted" type="button" class="btn-scan mt-5 mb-3" (click)="scanAgain()">Scan
                Next</button>
        </div>
        <div class="chk1 text-center" *ngIf="invalidQRCode">
            <i *ngIf="invalidQRCode" class="bi bi-x-circle text-danger"></i>
            <p *ngIf="invalidQRCode" class="fs-20">Invalid QR code</p>
            <button *ngIf="isScanCompleted" type="button" class="btn btn-primary mt-3 mb-3" (click)="scanAgain()">Scan
                Next</button>
        </div>
    </div>


    <div class="text-center" *ngIf="scanQrCode">
        <h4 class="ver-portal">ULP verification portal</h4>
        <img class="mt-5" src="assets/images/image1.png">
        <p class="scan-ler text-center">Scan learner’s passport to verify authenticity of any ULP credential !</p>
        <div class="scan-btn">
            <button type="button" class="btn-scan" (click)="scan()">Scan Now</button>
        </div>

        <div class="or mt-4">OR</div>
        <div class="container">
            <p class="scan-ler text-center">If you are a ULP Benefit Provider, Please Click here!</p>
            <div class="scan-btn d-flex justify-content-center">
                <button type="button" class="btn-scan mb-5">Click here</button>
            </div>
        </div>
    </div>



    <div class="scanner text-center" *ngIf="!isScanCompleted">
        <quar-scanner (scanSuccess)="scanSuccessHandler($event)" (scanError)="onError($event)"></quar-scanner>
    </div>
    <button type="button" class="btn-scan mt-4 mb-3" *ngIf="!isScanCompleted" (click)="back()">Go Back</button>
    <div class="text-center mt-5" *ngIf="false">
        <img src="assets/images/flash.png" alt="" class="pr-4">
        <img src="assets/images/frontcamera.png" alt="">
    </div>
    <div class="scan-result" *ngIf="loader">
        <div class="d-flex justify-content-center">
            <div class="spinner-border">
                <span class="sr-only">LOADING</span>
            </div>
        </div>
    </div>

    <!-- <div class="h-100 d-flex align-items-center justify-content-center flex-column" *ngIf="invalidQRCode">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Invalid QR-Code</h4>
            <p>Please scan valid QR Code</p>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" (click)="scanAgain()">RETRY SCAN</button>
        </div>
    </div> -->
</div>