*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #D1E8F6 ;
}
.gradient-bg{
    background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(244,244,244,1) 35%, rgba(220,229,231,1) 100%) !important;
}
.ptt-2{
    margin-top: 2rem;
}
.ptt-3{
    margin-top: 3rem;
}
.ptt-4{
    margin-top: 4rem;
}
.fs-40{
    font-size: 40px;
}
.fs-24{
    font-size: 24px;
}
.fs-15{
    font-size: 15px;
}
.pxx-3{
    padding:0 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center{
    text-align: center;
}
.bg-blue1{
    background: #D1E8F6 ;
    height: 100%;
}
.select{
    height: 30px;
    width: 95px;
}
.bg-white{
    background: #fff;
}
.btn{
    background: #5270F1 !important;
    height: 30px;
    width: 60px;
    color: #fff;
}