.box-sh{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 15px;
    background: #FAFAFA;
    width: 100%;
}