<div class="container mb-5">
   <div class="flex-center">
      <div class="title-benefits text-b mt-5">ULP Benefits</div>
   </div>
   <div class="fw-600 fs-21 text-center text-sub Urbanist pt-2">{{'WELCOME_TO_TATA_TRUST' | translate}}</div>
   <div class="flex-center mt-4">
      <img src="assets/images/mobile.svg" alt="mobile">
   </div>
   <div class="fw-600 text-center text-sub fs-16p mt-4 line-22 Urbanist">
       {{'SCAN_LEARNER' | translate}}
   </div>
   <div class="flex-center">
      <button routerLink="/verification" type="button" class="btn-scan mt-5 Urbanist">{{'SCAN_NOW' | translate}}</button>
   </div>
   <div class="fw-600 text-center text-sub fs-16p mt-4 line-22 Urbanist">
       {{'YOU_CAN_VIEW' | translate}}
   </div>
</div>