*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gradient-bg{
    background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(244,244,244,1) 35%, rgba(220,229,231,1) 100%) !important;
}
.ptt-2{
    margin-top: 2rem;
}
.ptt-3{
    margin-top: 3rem;
}
.ptt-4{
    margin-top: 4rem;
}
.fs-40{
    font-size: 40px;
}
.fs-24{
    font-size: 24px;
}
.fs-15{
    font-size: 15px;
}
.pxx-3{
    padding:0 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center{
    text-align: center;
}
.bg-blue1{
    height: 100%;
}
.select{
    height: 30px;
    width: 95px;
}
.bg-white{
    background: #fff;
}
.btn{
    background: #5270F1 !important;
    height: 30px;
    width: 60px;
    color: #fff;
}
.bor-botm{
    border-bottom: 3px solid #CED7DD;
}
.bor-blue{
    border: 8px solid #E8EAFC;
}
.bor-gery{
    border: 5px solid #E6E6E6;
    padding: 0 8px;
    background-color: #F1F5F7;
}
.chk i{
    font-size: 45px !important;
    color: #2DB4A7;
}
.chk1 i{
    font-size: 85px !important;
    color: #2DB4A7;
}