<section class="pxx-3">
  <div class="bg-blue1">
    <div class="gradient-bg ptt-2">
      <h1 class="text-center fs-40 bor-blue">ULP Benefits</h1>
    </div>
    <div class="flex ptt-3 bor-botm">
      <div>Welcome Tata trust</div>
      <div class="text-center"><i class="bi bi-power"></i>
        <div>Log out</div>
      </div>
    </div>
    <div class="ptt-2">
      <div class="chk1 text-center">
        <i *ngIf="studentVerified" class="bi bi-check2-circle"></i>
        <i *ngIf="studentVerifiedNot" class="bi bi-x-circle text-danger"></i>
      </div>
      <div class="text-center">Student verify for benfit</div>
    </div>
    <div class="flex ptt-3 bor-gery">
      <div>Student institute</div>
      <div class="chk">
        <i *ngIf="instituteVerified" class="bi bi-check"></i>
        <i *ngIf="instituteVerifiedNot" class="bi bi-x-lg text-danger"></i>
      </div>
    </div>
    <div class="flex ptt-3 bor-gery">
      <div>Student academic year</div>
      <div class="chk">
        <i *ngIf="academicVerified" class="bi bi-check"></i>
        <i *ngIf="academicVerifiedNot" class="bi bi-x-lg text-danger"></i>
      </div>
    </div>
    <div class="flex ptt-3 bor-gery">
      <div>Student gender is female</div>
      <div class="chk">
        <i *ngIf="genderVerified" class="bi bi-check"></i>
        <i *ngIf="genderVerifiedNot" class="bi bi-x-lg text-danger"></i>
      </div>
    </div>
    <div class="flex ptt-3 bor-gery">
      <div>Student ULP ID</div>
      <input class="select" type="text">
    </div>
    <div class="fs-24 text-center ptt-3">Please note down student ULP ID for your reference</div>
  </div>
</section>